.BG10
  background-color: lighten($color-primario, 30%) !important
.BG20
  background-color: lighten($color-secundario, 31%) !important
.BG30
  background-color: lighten($color-acento-contenido, 31%) !important
.BG40
  background-color: lighten($color-acento-botones, 50%) !important

.BG11
  background-color: lighten($color-primario, 23%) !important
.BG21
  background-color: lighten($color-secundario, 15%) !important
.BG31
  background-color: lighten($color-acento-contenido, 22%) !important
.BG41
  background-color: lighten($color-acento-botones, 40%) !important

.BG01
  background-color: $color-sistema-h

.BRcard
  border-radius: 20px

.BRcardTOP
  border-radius: 20px 20px 0 0

.BRcardBTN
  border-radius: 0 0 20px 20px

.BR01
  border-radius: 10px

.maxW01
  max-width: 110px

.maxW02
  max-width: 320px

.Brd01
  border: 1px solid $color-sistema-f

.Brd02
  border: 1px dashed $color-primario

.LnrGrad01
  background: lighten($color-acento-botones, 50%)
  background: linear-gradient(0deg, white 50%, lighten($color-acento-botones, 45%) 100%)

.LnrGrad02
  background: rgb(248,226,226)
  background: linear-gradient(90deg, rgba(248,226,226,1) 0%, rgba(255,255,255,1) 100%)

.tabs-a__tab
  background-color: lighten($color-acento-botones, 35%)

.tabs-a.color-acento-botones .tabs-a__tab__selected
  color: black !important

.separador
  opacity: 0.3
